body{
	background-color: rgb(2, 2, 58);
	font-family: 'Indie Flower', 'Comic Sans', cursive;
    font-style: 'kimberly Geswein';

}


h1{
	text-align: center;
	color: white;
}
.game-board {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
}

.cell {
	width: 200px;
	height: 200px;
	border: 4px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}
.th_list {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: white;
margin-left: 50px;;
  }
  .td_list {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    margin-left: 50px;
  }


  .x {
    color: rgb(245, 65, 4);
    position: relative;
    top: -8px;
    font-size: 1.2em;
    cursor: default;
  }
  .o {
    color: rgb(4, 247, 166);
    position: relative;
    top: -7px;
    font-size: 1.0em;
    cursor: default;
  }

  footer{
    text-align: center;
    justify-content: center;
    color: white;

  }
  table {
    margin: 2% auto;
    border-collapse: collapse;
  }
    #cell-0{
    border-left-color: transparent;
    border-top-color: transparent;
      }
      #cell-1{
        border-top-color:transparent;
    
      }
      #cell-2{
        border-right-color:transparent;
        border-top-color: transparent;
      }
      #cell-3{
    border-left-color: transparent;
    
      }
      #cell-5{
        border-right-color:transparent
      }
    
     #cell-7{
        border-bottom-color:transparent;
     }
     #cell-8{
        border-right-color:transparent;
        border-bottom-color:transparent;
     }
     #cell-6{
        border-left-color: transparent;
        border-bottom-color:transparent ;
     }